.castContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 10px;
  padding: 10px;
  list-style: none;
  align-items: baseline;
  justify-items: center;
}

.castContainer img {
  width: 150px;
  height: auto;
}
