.trendingContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.trendingContainer h1 {
  display: flex;
  justify-content: center;
}

.trendingContainer ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
  padding: 10px;
  list-style: none;
  align-items: baseline;
  justify-items: center;
}

.trendingContainer li {
  list-style-type: none;
}
.trendingContainer li:hover {
  transform: scale(1.02);
}

.trendingContainer img {
  width: 100%;
  height: auto;
}
.trendingContainer a {
  color: black;
  text-decoration: none;
}
.trendingContainer p {
  margin-top: 5px;
  font-weight: 500;
}
